<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <div id="glb_header">
      <%= render partial: "partial/header_top" %>
    </div>
    <div id="shop_management">
      <div id="shop_management_left">
        <ul class="shop_management_lists">
          <li class="list_header"> <P>店舗情報</p> </li>
          <li class="shop_management_list active">基本情報</li>
          <li class="shop_management_list">営業時間</li>
          <li class="list_header"><p>メニューの追加・編集</p>
          <li class="shop_management_list">メニューの追加</li>
          <li class="shop_management_list">メニューの編集</li>
          <li class="list_header"> <p>お店のこだわり</p> </li>
          <li class="shop_management_list">こだわり・想い</li>
        </ul>
        <ul class="shop_account_management">
          <li><%= link_to "パスワードの再設定"%></li>
          <li><%= link_to "ログアウトする"%></li>
          <li><%= link_to "アカウントを削除する"%></li>
        </ul>
      </div>
      <div id="mask" class="hidden"></div>
      <div id="modal" class="hidden"></div>
      <div class="shop_management_right show" >
        <%= render partial: "shop_infos/new" %>
      </div>

      <div class="shop_management_right" >
        <%= render partial: "business_dates/new" %>
      </div>
      
      <div class="shop_management_right" >
        <div class="shop_menu_lists">
          <%= form_with(model: @post, local: true) do |f| %>
            <ul>
              <li>
                <p>メニューの追加</p>
              </li>
              <li>
                <div class="shop_menu_title">
                  写真を選ぶ
                </div>
                <%= f.fields_for :photos do |i| %>
                  <%= i.file_field :image, class: "shop_menu_input"%>
                <% end %>
              </li>
              <li>
                <div class="shop_menu_title">
                  メニュー名
                </div>
                <%= f.text_field :title, class: "shop_menu_input" %>
              </li>
              <li>
                <div class="shop_menu_title">
                  値段
                </div>
                <%= f.text_field :price, class: "shop_menu_input" %>
              </li>
              <li>
                <div class="shop_menu_title">
                  商品説明
                </div>
                <%= f.text_area :caption, class: "shop_menu_input" %>
              </li>
            </ul>
            <div class="shop_menu_submit">
              <%= f.submit "保存する", class: "shop_menu_btn" %>
            </div>
          <% end %>
        </div>
      </div>
      
      <div class="shop_management_right" >
        <div class="shop_menu_index">
          <div class="shop_menu_index_tit">
            <p>メニュー  一覧</p>
          </div>
          

      <div class="shop_management_right" >
        <%= render partial: "shop_commitments/new" %>
      </div>
    </div>

  </div>
</div>
