<div id="shop_management_right_post_edit" >
  <div class="shop_menu_edit_lists">
    <%= form_with model: @menu, url: shop_admin_menu_path(@menu) do |f| %>
      <ul>
        <li>
          <p>メニューの編集</p>
        </li>
        <li>
          <div class="shop_menu_title">
            写真を選ぶ
          </div>
          <%= f.fields_for :photo do |photo_form| %>
            <%= photo_form.file_field :image, class: "shop_menu_input"%>
          <% end %>
        </li>
        <li>
          <div class="shop_menu_title">
            メニュー名
          </div>
          <%= f.text_field :name, class: "shop_menu_input" %>
        </li>
        <li>
          <div class="shop_menu_title">
            値段
          </div>
          <%= f.text_field :price, class: "shop_menu_input" %>
        </li>
        <li>
          <div class="shop_menu_title">
            商品説明
          </div>
          <%= f.text_area :caption, class: "shop_menu_input" %>
        </li>
      </ul>
      <div class="shop_menu_submit">
        <%= f.submit "保存する", class: "shop_menu_btn" %>
      </div>
    <% end %>
  </div>
</div>
