<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <div id="glb_header">
      <%= render partial: "partial/header_top" %>
    </div>
    <div id="shop_management">
      <div id="shop_management_left">
        <ul class="shop_management_lists">
          <li class="list_header"> <P>店舗情報</p> </li>
          <li class="shop_management_list"><%= link_to "基本情報"%></li>
          <li class="shop_management_list"><%= link_to "営業時間"%></li>
          <li class="shop_management_list"><%= link_to "お知らせ"%></li>
          <li class="shop_management_list"><%= link_to "ホームページ"%></li>
          <li class="shop_management_list"><%= link_to "SNS"%></li>
          <li class="shop_management_list"><%= link_to "画像"%></li>
          <li class="list_header"><p>メニューの追加・編集</p>
          <li class="shop_management_list"><%= link_to "メニューの追加"%></li>
          <li class="shop_management_list"><%= link_to "メニューの編集"%></li>
          <li class="list_header"> <p>お店のこだわり</p> </li>
          <li class="shop_management_list"><%= link_to "こだわり・想い"%></li>
        </ul>
        <ul class="shop_account_management">
          <li><%= link_to "パスワードの再設定"%></li>
          <li><%= link_to "ログアウトする"%></li>
          <li><%= link_to "アカウントを削除する"%></li>
        </ul>
      </div>
      <div id="shop_management_right" class="unactive">
        <div class="shop_basic">
          <%= form_with url: posts_path do |form| %>
            <ul>
              <li>
                <p>基本情報</p>
              </li>
              <li>
                <div class="shop_basic_title">
                  店舗名
                </div>
                <%= form.text_field :title, class: "shop_basic_input" %>
              </li>
              <li>
                <div class="shop_basic_title">
                  住所
                </div>
                <%= form.text_field :title, class: "shop_basic_input" %>
              </li>
              <li>
                <div class="shop_basic_title">
                  メールアドレス
                </div>
                <%= form.text_field :title, class: "shop_basic_input" %>
              </li>
              <li>
                <div class="shop_basic_title">
                  電話番号
                </div>
                <%= form.text_field :title, class: "shop_basic_input" %>
              </li>
              <li>
                <div class="shop_basic_title">
                  お店の説明
                </div>
                <%= form.text_area :title, class: "shop_basic_input" %>
              </li>
            </ul>
            <div class="shop_basic_submit">
              <%= form.submit "保存する", class: "shop_basic_btn" %>
            </div>
          <% end %>
        </div>
      </div>

      <div id="shop_management_right" >
        <div class="shop_management_hour">
          <div class="shop_management_hour_tit">
            <p>営業日時・時間</p>
          </div>
          <div class="shop_hour_main">
            <div class="shop_hour_left">
              <p>営業日</p>
            </div>
            <div class="shop_hour_right">
              <%= form_with url: posts_path do |form| %>
                <ul>
                  <li>
                    <p>月曜日</p>
                    <div id="toggle_box">
                      <div class="block"></div>
                    </div>
                    <div class=shop_management_hour_detail>
                      <div class="shop_hour_detail_in">
                        <%= form.time_select :created_at %>
                      </div>
                      ~
                      <div class="shop_hour_detail_out">
                        <%= form.time_select :created_at %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p>火曜日</p>
                    <div id="toggle_box">
                      <div class="block"></div>
                    </div>
                    <div class=shop_management_hour_detail>
                      <div class="shop_hour_detail_in">
                        <%= form.time_select :created_at %>
                      </div>
                      ~
                      <div class="shop_hour_detail_out">
                        <%= form.time_select :created_at %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p>水曜日</p>
                    <div id="toggle_box">
                      <div class="block"></div>
                    </div>
                    <div class=shop_management_hour_detail>
                      <div class="shop_hour_detail_in">
                        <%= form.time_select :created_at %>
                      </div>
                      ~
                      <div class="shop_hour_detail_out">
                        <%= form.time_select :created_at %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p>木曜日</p>
                    <div id="toggle_box">
                      <div class="block"></div>
                    </div>
                    <div class=shop_management_hour_detail>
                      <div class="shop_hour_detail_in">
                        <%= form.time_select :created_at %>
                      </div>
                      ~
                      <div class="shop_hour_detail_out">
                        <%= form.time_select :created_at %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p>金曜日</p>
                    <div id="toggle_box">
                      <div class="block"></div>
                    </div>
                    <div class=shop_management_hour_detail>
                      <div class="shop_hour_detail_in">
                        <%= form.time_select :created_at %>
                      </div>
                      ~
                      <div class="shop_hour_detail_out">
                        <%= form.time_select :created_at %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p>土曜日</p>
                    <div id="toggle_box">
                      <div class="block"></div>
                    </div>
                    <div class=shop_management_hour_detail>
                      <div class="shop_hour_detail_in">
                        <%= form.time_select :created_at %>
                      </div>
                      ~
                      <div class="shop_hour_detail_out">
                        <%= form.time_select :created_at %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p>日曜日</p>
                    <div id="toggle_box">
                      <div class="block"></div>
                    </div>
                    <div class=shop_management_hour_detail>
                      <div class="shop_hour_detail_in">
                        <%= form.time_select :created_at %>
                      </div>
                      ~
                      <div class="shop_hour_detail_out">
                        <%= form.time_select :created_at %>
                      </div>
                    </div>
                  </li>
                </ul>
              <% end %>
            </div>
          </div>
          <div class="shop_hour_submit">
            保存する
          </div>
        </div>
      </div>
      
      <div id="shop_management_right" >
        <div class="shop_menu_lists">
          <%= form_with url: posts_path do |form| %>
            <ul>
              <li>
                <p>メニューの追加</p>
              </li>
              <li>
                <div class="shop_menu_title">
                  写真を選ぶ
                </div>
                <%= form.file_field :image, class: "shop_menu_input" %>
              </li>
              <li>
                <div class="shop_menu_title">
                  メニュー名
                </div>
                <%= form.text_field :title, class: "shop_menu_input" %>
              </li>
              <li>
                <div class="shop_menu_title">
                  値段
                </div>
                <%= form.text_field :title, class: "shop_menu_input" %>
              </li>
              <li>
                <div class="shop_menu_title">
                  商品説明
                </div>
                <%= form.text_area :title, class: "shop_menu_input" %>
              </li>
            </ul>
            <div class="shop_menu_submit">
              <%= form.submit "保存する", class: "shop_menu_btn" %>
            </div>
          <% end %>
        </div>
      </div>

      <div id="shop_management_right" >
        <div class="shop_menu_lists">
          <%= form_with url: posts_path do |form| %>
            <ul>
              <li>
                <p>メニューの編集</p>
              </li>
              <li>
                <div class="shop_menu_title">
                  写真を選ぶ
                </div>
                <%= form.file_field :image, class: "shop_menu_input" %>
              </li>
              <li>
                <div class="shop_menu_title">
                  メニュー名
                </div>
                <%= form.text_field :title, class: "shop_menu_input" %>
              </li>
              <li>
                <div class="shop_menu_title">
                  値段
                </div>
                <%= form.text_field :title, class: "shop_menu_input" %>
              </li>
              <li>
                <div class="shop_menu_title">
                  商品説明
                </div>
                <%= form.text_area :title, class: "shop_menu_input" %>
              </li>
            </ul>
            <div class="shop_menu_submit">
              <%= form.submit "保存する", class: "shop_menu_btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
