<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <div id="content_container">
      <div id="profile_container">
        <div class="profile_left">
          <ul class="user_menu">
            <li>
              <a id="user_favorit" class="user_menu_item active">お気に入り</a>
            </li>
            <li>
              <a id="user_hope" class="user_menu_item">行ってみたい</a>
            </li>
            <li>
              <a id="user_commented" class="user_menu_item">コメント</a>
            </li>
          </ul>
          <ul class="user_menu_details">
            <li class="user_menu_detail show">
            </li>
            <li class="user_menu_detail">
            </li>
            <li class="user_menu_detail">
            </li>
          </ul>
        </div>
        <div class="profile_right">
          <div class="profile_main">
            <div class="profile_edit">
              <%= link_to "編集", edit_user_registration_path %>
            </div>
            <div class="profile_photo">
            </div>
            <ul class="profile_lists">
              <li class="profile_user_name">
                あいうえお
              </li>
              <li class="profile_list">
                お気に入り  4
              </li>
              <li class="profile_list">
                行ってみたい  5
              </li>
              <li class="profile_list">
                口コミ  2
              </li>
            </ul>
            <div class="log_out">
              <%= link_to "ログアウトする", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<!--------------------------------------------------------------
        <% if @user == current_user %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark edit-profile-btn" %>
          <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>
        <% end %>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="list-group text-center">
                <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
                <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
              </div>
            </div>
          </div>
        </div>
------------------------------------------------------------------>        
