<div class="profile_container">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag avatar_url(@user), class: "float-left round-img" %>
    </div>
    <div class="col-md-8">
      <div class="profile_main row">
        <h1><%= @user.username %></h1>
        <% if @user == current_user %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark edit-profile-btn" %>
          <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>
        <% end %>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="list-group text-center">
                <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
                <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="row">
          <li class="profile_post">投稿77件</li>
          <li class="profile_follower">フォロワー777人</li>
          <li class="profile_follow">フォロー中7777人</li>
      </ul>
      <div class="row">
        <p>
          <%= @user.name %>
        </p>
      </div>
    </div>
  </div>
  <div class="row py-5" style="width: 1000px;">
    <% @posts.each do |post| %>
      <div class="col-sm" >
        <%= link_to(post_path(post)) do %>
          <%= image_tag post.photos.first.image.url(:medium), class: "img_top  mx-auto" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
