<footer id="glb_footer" class="clearfix">
  <div class="glb_footer_inner">
    <div class="footer_list">
      <h4 class="title">レシピ</h4>
      <ul>
        <li>
          <%= link_to "test"%>
        </li>
      </ul>
    </div>
    <div class="footer_list">
      <h4 class="title">レシピ</h4>
      <ul>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
      </ul>
    </div>
    <div class="footer_list">
      <h4 class="title">レシピ</h4>
      <ul>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
      </ul>
    </div>
    <div class="footer_list">
      <h4 class="title">レシピ</h4>
      <ul>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
      </ul>
    </div>
    <div class="footer_list">
      <h4 class="title">レシピ</h4>
      <ul>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
      </ul>
    </div>
  </div>
</footer>
