<div id="glb_header">
  <div id="glb_header_top">
    <div class="header_tit">
      <%= link_to "しょくどう" %>
    </div>
    <div class="log_in">
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to "ログアウト", new_user_registration_path %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
    </div>

  </div>

  <div id="glb_header_bottom">
    <div class="search_section">
      <ul>
        <li>
          <p>
            お気に入りのしょくどうを<br>
            つなげる、見つける
          </p>
        </li>
        <li>
          <div class="header_search">
            <%= form_with(url: search_posts_path, local: true, method: :get, class: "search_form") do |form| %>
              <%= form.text_field :keyword, placeholder: "キーワードから探す  例：オムライス  渋谷", class: "search_input" %>
              <%= form.button "検索", class: "search_btn" do %>
                <i class="fa fa-search"></i>
              <% end %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>



