<div class="main">
  <div class="devise-card">
    <div class="form-wrap">
    <!-------<%= render  "partial/devise_flash_messages" %>-------------->
      <div class="top_title">俺流<br>ごはんレシピ</div>
      <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
        <div class="form-group">
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: 'guest_btn', method: :post %>
        </div>

      <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "サインインする", class: "btn btn-primary w-100" %>
        </div>
        <br />
      
        
      <% end %>
      <%= render partial: "partial/devise_links" %>

    </div>
  </div>
</div>
