<div class="shop_mouth">
  <ul class="shop_rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="score">(4.5)</i>
  </ul>
  <div class="write_shop_mouth">
    <%= link_to "口コミを書く" %>
    <div class="number_of_mouth">
      (34件)
    </div>
  </div>
</div>
<div class="shop_info">
  <div class="info_tit">
    <p>お店からのお知らせ</p>
  </div>
  <div class="info_item">
    ここに「もっと見る」ボタンをクリックで表示するテキストを入力します。
  </div>
  <a class="more_shop_info " >+ 続きを読む</a>
</div>
<div class="shop_hours">
  <% @business_dates.each do |business_date| %>
    <%= link_to "編集", edit_shop_admin_business_date_path(current_shop_admin.id, business_date.id), local: true %>
    <ul class="shop_day">
      <li><%if business_date.monday%><%end%></li>
      <li>火</li>
      <li>水</li>
      <li>木</li>
      <li>金</li>
      <li>土</li>
      <li>日</li>
    </ul>
    <div class="more_hours">
        営業時間を見る
    </div>
    <ul class="shop_hour">
      <li>月  <%= business_date.monday_opening_time.strftime( "%H:%M" ) %>~<%= business_date.monday_closing_time.strftime( "%H:%M" ) %></li>
      <li>火  <%= business_date.tuesday_opening_time.strftime( "%H:%M" ) %>~<%= business_date.tuesday_closing_time.strftime( "%H:%M" ) %></li>
      <li>水  <%= business_date.wedensday_opening_time.strftime( "%H:%M" ) %>~<%= business_date.wedensday_closing_time.strftime( "%H:%M" ) %></li>
      <li>木  <%= business_date.thursday_opening_time.strftime( "%H:%M" ) %>~<%= business_date.thursday_closing_time.strftime( "%H:%M" ) %></li>
      <li>金  <%= business_date.friday_opening_time.strftime( "%H:%M" ) %>~<%= business_date.friday_closing_time.strftime( "%H:%M" ) %></li>
      <li>土  <%= business_date.saturday_opening_time.strftime( "%H:%M" ) %>~<%= business_date.saturday_closing_time.strftime( "%H:%M" ) %></li>
      <li>日  <%= business_date.sunday_opening_time.strftime( "%H:%M" ) %>~<%= business_date.sunday_closing_time.strftime( "%H:%M" ) %></li>
    </ul>
  <% end %>
</div>

