<div id="side_bar">
  <h3 class="title">COOKING1</h3>
  <ul>
    <li>
      <%= link_to "cooking"%>
    </li>
  </ul>
  <h3 class="title">COOKING2</h3>
  <ul>
    <li>
      <%= link_to "cooking"%>
    </li>
    <li>
      <%= link_to "cooking"%>
    </li>
  </ul>
  <h3 class="title">COOKING3</h3>
  <ul>
    <li>
      <%= link_to "cooking"%>
    </li>
    <li>
      <%= link_to "cooking"%>
    </li>
    <li>
      <%= link_to "cooking"%>
    </li>
  </ul>
  <h3 class="title">COOKING4</h3>
  <ul>
    <li>
      <%= link_to "cooking"%>
    </li>
    <li>
      <%= link_to "cooking"%>
    </li>
    <li>
      <%= link_to "cooking"%>
    </li>
    <li>
      <%= link_to "cooking"%>
    </li>
  </ul>
  <h3 class="title">COOKING5</h3>
  <ul>
    <li>
      <%= link_to "cooking"%>
    </li>
    <li>
      <%= link_to "cooking"%>
    </li>
    <li>
      <%= link_to "cooking"%>
    </li>
    <li>
      <%= link_to "cooking"%>
    </li>
    <li>
      <%= link_to "cooking"%>
    </li>
  </ul>
</div>
