<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <%= render partial: 'partial/header' %>
    <div id="content_container" class="clearfix">
      <div class="content">
        <section id="recommend" class="clearfix">
          <ul class="top_images" >
            <% @posts.each do |post| %>
              <li>
                <div class="image_container">
                  <p class="img">
                    <%= link_to(post_path(post)) do %>
                      <%= image_tag post.photos.first.image.url, class: "img_top" %>
                    <% end %>
                  </p>
                </div>
                <div class="top_recipe_title">
                  <div class="title_box">
                    <div class="title">
                      <%= post.title %>
                    </div>
                  </div>
                  
                </div>
              </li>
            <% end %>
          </ul>
        </section>
      </div>
      <%= render 'posts/side_bar' %>
    </div>
  </div>
</div>


