<div id="glb_main">
<%= render partial: "partial/flash_messages" %>
  <div id="glb_body" class="clearfix">
    <div id="content_container" class="clearfix">
      <div class="content">
        <%= render partial: 'partial/navbar' %>
        <section id="recommend" class="clearfix">
          <ul class="top_images" >
            <% @posts.each do |post| %>
              <li>
                <div class="image_container">
                  <p class="img">
                    <%= link_to(post_path(post)) do %>
                      <%= image_tag post.photos.first.image.url(:medium), class: "img_top" %>
                    <% end %>
                  </p>
                </div>
                <div class="profile clearfix">
                  <div class="content clearfix">
                    <div class="left_icon">
                      <%= image_tag avatar_url(current_user), class: "profile_icon" %>
                    </div>
                    <div class="right_name">
                      <div class="name">

                      </div>
                    </div>
                  </div>
                  <div class="btn_block">
                    <div class="btn_like">
                      <div class="btn">
                        <%= link_to "いいね!する" %>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </section>
      </div>
      <%= render 'posts/side_bar' %>
    </div>
  </div>
</div>


