<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <div id="content_container">
      <div id="new_container">
        <div id="new_container_main">

          <%= form_with model: @post, class: "upload-images" do |f| %>
            <div class="new_post_title">
              <div class="title_head">
                <%= f.text_field :title, class: "new_title", placeholder: "タイトルを入力する" %>
              </div>
            </div>

            <div class="new_post_photo">
              <div class="photo_head">
                <div class="photo_title">
                  写真を選ぶ
                </div>
                <%= f.fields_for :photos do |i| %>
                  <%= i.file_field :image %>
                <% end %>
              </div>
            </div>

            <div class="new_post_caption">
              <div class="caption_head">
                <div class="caption_title">
                  簡単な説明
                </div>
                <%= f.text_area :caption, class: "new_caption" %>
              </div>
            </div>

            <div class="new_post_incredients">
              <div class="new_incredients">
                <div class="incredietns_title">
                  材料
                </div>
                <%= f.fields_for :foods do |t| %>
                  <%= render "food_fields", f: t %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association "追加", f, :foods %>
                </div>
              </div>
            </div>

            <div class="new_post_cock">
              <div class="how_to">
                <div class="cock_nested-fields">
                  <div class="nested-fields_howto">
                    作り方
                  </div>
                  <%= f.text_field :how_to_cock, class: "cock_desc" %>
                </div>
              </div>
            </div>
            
            <div class="new_post_description">
              <div class="description_head">
                <div class="description_title">
                  ひとことメモ
                </div>
                <%= f.text_field :post_comment, class: "description_desc" %>
              </div>
            </div>

            <div class="post_btn">
              <%= f.submit "投稿する", class: "new_post_btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

