<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <div id="content_container">
      <section id="show_image" >
        <div class="show_main_photo" style="background-image: url(<%= url_for(@post.photos.first.image.url(:medium)) %>);">
          <div class="show_recipe_title">
            <%= @post.caption %>
          </div>
        </div>
      </section>
      <section id="recipe_comment">
        <div>
          <div>
            <%= @post.caption %>
          </div>
        </div>
      </section>
      <section id ="howto_cock">
        <div>
          <h1></h1>
          <div> 
            <div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="one_point_comment">
        <h1></h1>
        <div>
        </div>
      </section>
    </div>
  </div>
</div>

        <!---------<div id="recipe_title">
          <h1 class="recipe_title">
            <%= @post.caption %>
          </h1>
        </div>
        ---------->
        <!------------<div id="name_recipe_made" >
          作った人 : 
          <%= link_to(user_path(@post.user)) do %>
            <%= @post.user.name %>
          <% end %>
        </div>
        <div id="main_photo">
          <%= image_tag @post.photos.first.image.url(:medium), class: "main_photo" %>
          <div class="delete_btn">
            <% if user_signed_in? && current_user.id == @post.user_id %>
              <%= link_to "削除", post_path(@post), method: :delete %>
              <%= link_to "編集", edit_post_path(@post) %>
            <% end %>
          </div>
        </div>
        <div id="desc_and_ingredients">
          <div id="ingredients_container">
            <div id="ingredients">
              <div class="material">
                <div class="material_head">
                  <h2 class="title">素材</h2>
                </div>
              </div>
            </div>
            <div id="ingredients_lists">
              <% @post.foods.each do |food| %>
                <div class="ingredients_list">
                  <div class="ingredients_name">
                    <%= food.ingredient %>
                  </div>
                  <div class="ingredients_quantity">
                    <%= food.quantity %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="description_text">
            <%= render_with_hashtags(@post.caption) %>
          </div>
        </div>
        ------------->
      <!------<div id="comment_container">
        <div class="comment_post" id="comment_post-<%= @post.id.to_s %>">
          <%= render 'comment_list', { post: @post } %>
        </div>
        <div class ="comment_form_post" id="comment_form_post-<%= @post.id.to_s %>">
          <%= form_with model: [@post, Comment.new], local: false, class: "form_post" do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.text_field :comment, class: "form_control", placeholder: "コメント ...", autocomplete: :off %>
            <%= f.submit "送信" %>
          <% end %>
        </div>
      </div>

      <div id="like_container">
          <div class="like_btn">
            <div id="like-icon-post-<%= @post.id.to_s %>">
              <% if @post.liked_by(current_user).present? %>
                <%= link_to "いいねを取り消す", post_like_path(@post.id, @post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
              <% else %>
                <%= link_to "いいね", post_likes_path(@post), method: :POST, remote: true, class: "love hide-text" %>
              <% end %>
            </div>
            <%= link_to "", "#", class: "comment" %>
          </div>
          
          <div id="like-text-post-<%= @post.id.to_s %>">
            <%= render "like_text", { likes: @post.likes } %>
          </div>
        </div>
        ----------->
    </div>
  </div>
</div>
