<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <div id="content_container">
      <section id="show_image" >
        <%= image_tag @post.photos.first.image.url, class: "show_main_photo" %>
        <div class="show_recipe_title">
          <%= @post.title %>
        </div>
      </section>
      <section id="recipe_comment">
        <div class="recipe_commnet_container">
          <div class="recipe_comment_detail">
            <p>
              <%= render_with_hashtags(@post.caption) %>
            </p>
          </div>
        </div>
      </section>
      <section id ="cock">
        <div class="ingredients">
          <h1>材料</h1>
          <% @post.foods.each do |food| %>
            <div class="ingredients_detail"> 
              <div class="material">
                <div class="material_detail">
                  <%= food.ingredient %>
                </div>
              </div>
              <div class="quantity">
                <div class="quantity_detail">
                  <%= food.quantity %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="how_to">
          <h1>作り方</h1>
          <% @post.cocks.each do |cock| %>
            <div class="order_of_operation">
              <div class="operation_number">
                1
              </div>
              <div class="operation_detail">
                <%= cock.how_to %>
              </div>
            </div>
          <% end %>
        </div>
      </section>
      <section id="one_point_comment" >
        <h1>ひとことメモ</h1>
        <div class="one_point_comment_box">
          <div class="one_point_comment_detail">
            <%= @post.post_comment %>
          </div>
        </div>
      </section>

      <section id="comment_container">
        <div class="comment_post" id="comment_post-<%= @post.id.to_s %>">
          <%= render 'comment_list', { post: @post } %>
        </div>
      </section>

      <section id="comment_form">
        <div class ="comment_form_post" id="comment_form_post-<%= @post.id.to_s %>">
          <%= form_with model: [@post, Comment.new], local: false, class: "form_post" do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.text_field :comment, class: "form_control", placeholder: "コメント ...", autocomplete: :off %>
            <%= f.submit "送信" %>
          <% end %>
        </div>
      </section>

      <section id="like_container">
        <div class="like_btn">
          <div id="like-icon-post-<%= @post.id.to_s %>">
            <% if @post.liked_by(current_user).present? %>
              <%= link_to "いいねを取り消す", post_like_path(@post.id, @post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
            <% else %>
              <%= link_to "いいね", post_likes_path(@post), method: :POST, remote: true, class: "love hide-text" %>
            <% end %>
          </div>
        </section>
        <div id="like-text-post-<%= @post.id.to_s %>">
          <%= render "like_text", { likes: @post.likes } %>
        </div>
      </div>
    </div>
  </div>
</div>

        

