<div id="glb_main">
  <div id="glb_body" class="clearfix">
    
    <%= render partial: 'partial/header' %>
    
    <div id="content_container">
      <div class="show_recipe_tit">
        <%= @post.title %>
      </div>
      
      <div class="show_recipe_txt">
        <%= render_with_hashtags(@post.caption) %>
      </div>
      
      <div class="content_main">
        <div class="content_left">
          <section class="show_image">
            <%= image_tag @post.photos.first.image.url, class: "show_main_photo" %>
          </section>
          
          <section id="like_container">
            <div class="like_btn">
              <div id="like-icon-post-<%= @post.id.to_s %>">
                <%= render 'like', { post: @post } %>
              </div>
            </div>
          </section>

          
          <section id="show_comment">
            <div id="comment_container">
              <div class="comment_to_user_name">
                <%= @post.user.name %>さんへのコメント
              </div>
              <div class="comment_post" id="comment_post-<%= @post.id.to_s %>">
                <%= render 'comment_list', { post: @post } %>
              </div>
            </div>
            <div id="comment_form">
              <div class ="comment_form_post" id="comment_form_post-<%= @post.id.to_s %>">
                <%= form_with model: [@post, Comment.new], local: false, class: "form_post" do |f| %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :post_id, value: @post.id %>
                  <%= f.text_field :comment, class: "form_control", placeholder: "コメント ...", autocomplete: :off %>
                  <%= f.submit "送信" %>
                <% end %>
              </div>
            </div>
          </section>
        </div>
        
        
        <div class="content_right">
          <div class="recipe_ingredients">
            <p>材料</p>
            <% @post.foods.each do |food| %>
              <div class="ingredients_detail"> 
                <ul class="material">
                  <li class="material_detail">
                    <%= food.ingredient %>
                  </li>
                </ul>
                <ul class="quantity">
                  <li class="quantity_detail">
                    <%= food.quantity %>
                  </li>
                </ul>
              </ul>
            <% end %>
          </div>
          <div class="recipe_how_to">
            <p>作り方</p>
            <ul class="order_of_operation">
              <% @post.cocks.each do |cock| %>
                <li class="operation_detail">
                  <%= cock.how_to %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        
<!---------------------------
        <div class="edit_delete">
          <div class="edit_container">
            <div class="caption">編集</div>
            <%= link_to edit_post_path, metod: "get" do %>
              <i class="fas fa-pen text-success"></i>
            <% end %>
          </div>
          <div class="delete_container">
            <div class="caption">削除</div>
            <%= link_to post_path, data: {confirm: ('本当に削除しますか？')}, method: "delete" do %>
              <i class="far fa-trash-alt text-danger"></i>
            <% end %>
        </div>
      </section>
      
      

      
------------------------->
