<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <div id="content_container">
      <div id="show_content">
        <div class="top_photo">
        </div>
        <div class="top_content">
          <div class="left_content">
            <div class="like_content">
              <div class="like_btn">
                <div id="like-icon-post-<%= @post.id.to_s %>">
                  <%= render 'like', { post: @post } %>
                </div>
              </div>
            </div>
            <div class="shop_tit">
              中華一番
            </div>
            <div class="shop_address">
              渋谷区渋谷町1-12-5
            </div>
            <div class="shop_text">
               test test test test test test test test test
               test test test test test test test test test
               test test test test test test test test test
               test test test test test test test test test
            </div>
          </div>
          <div class="right_content">
            <div class="shop_mouth">
              <ul class="shop_rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="score">(4.5)</i>
              </ul>
              <div class="write_shop_mouth">
                <%= link_to "口コミを書く" %>
                <div class="number_of_mouth">
                  (34件)
                </div>
              </div>
            </div>
            <div class="shop_info">
              <div class="info_tit">
                <p>お店からのお知らせ</p>
              </div>
              <div class="info_hide">
                ここに「もっと見る」ボタンをクリックで表示するテキストを入力します。
              </div>
              <button class="more_shop_info"></button>
            </div>
            <div class="shop_hours">
            </div>
          </div>
        </div>
        <div class=bottom_content>
          <div class="tab_content">
            <ul class="shop_menu">
              <li>
                <a id="about" class="menu_item active">メニュー</a>
              </li>
              <li>
                <a id="service" class="menu_item">お店からのコメント</a>
              </li>
              <li>
                <a id="contact" class="menu_item">口コミ</a>
              </li>
            </ul>
            <ul class="menu_details">
              <li class="menu_detail show">
                about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about
              </li>
              <li class="menu_detail">
                service service service service service service service service service service service service service service service service service service service service service service service service service service
              </li>
              <li class="menu_detail">
                contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      
          <!-----------------------
          <section id="show_comment">
            <div id="comment_container">
              <div class="comment_to_user_name">
                <%= @post.user.name %>さんへのコメント
              </div>
              <div class="comment_post" id="comment_post-<%= @post.id.to_s %>">
                <%= render 'comment_list', { post: @post } %>
              </div>
            </div>
            <div id="comment_form">
              <div class ="comment_form_post" id="comment_form_post-<%= @post.id.to_s %>">
                <%= form_with model: [@post, Comment.new], local: false, class: "form_post" do |f| %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :post_id, value: @post.id %>
                  <%= f.text_field :comment, class: "form_control", placeholder: "コメント ...", autocomplete: :off %>
                  <%= f.submit "送信" %>
                <% end %>
              </div>
            </div>
          </section>
          ------------------------>
        

        
<!---------------------------
        <div class="edit_delete">
          <div class="edit_container">
            <div class="caption">編集</div>
            <%= link_to edit_post_path, metod: "get" do %>
              <i class="fas fa-pen text-success"></i>
            <% end %>
          </div>
          <div class="delete_container">
            <div class="caption">削除</div>
            <%= link_to post_path, data: {confirm: ('本当に削除しますか？')}, method: "delete" do %>
              <i class="far fa-trash-alt text-danger"></i>
            <% end %>
        </div>
      </section>
      
      

      
------------------------->
